@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}
::-webkit-scrollbar {
  display: none;
}

.verify-btn {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background-color: #00b36b;
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.verify-btn:hover {
  background-color: #00995a;
}

.otp-inputs-container {
  display: flex;
  gap: 10px; /* adds spacing between the boxes */
  justify-content: center; /* centers the inputs horizontally */
  margin: 20px 0; /* optional: spacing above and below */
}

.otp-input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  transition: border 0.3s ease;
}

.otp-input:focus {
  border: 2px solid #0a8d48;
}



