# Node modules (frontend & backend)
node_modules/
client/node_modules/
server/node_modules/

# Environment variables
.env
config.env

# Build output
dist/
build/

# Log files
*.log

# OS-specific
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Lock files (ignore root, but allow server)
#/package-lock.json
!server/package-lock.json

# Coverage reports
coverage/

# Others
*.local
*.sublime-project
*.sublime-workspace
